name: Build Web

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_NICE_POND_06384E51E:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Create version file
        run: |
          echo "{
            \"version\": \"${{ inputs.version }}\",
            \"build\": \"${{ github.run_number }}\"
          }" > web/version.json

      - name: Build web
        run: flutter build web --release

      - name: Deploy to Azure
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_NICE_POND_06384E51E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: /build/web
          output_location: ""
          skip_app_build: true

      - name: Archive web build
        run: |
          mkdir -p artifacts
          cd build/web
          zip -r ../../artifacts/beariscope-web-${{ inputs.version }}.zip *

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: artifacts/beariscope-web-${{ inputs.version }}.zip
          retention-days: 7