name: Build Linux

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: |
          flutter pub get
          sudo apt-get update -y
          sudo apt-get install -y appstream libgtk-3-dev libwebkit2gtk-4.1-dev \
            cmake clang ninja-build libcanberra-gtk-module libcanberra-gtk3-module \
            libsecret-1-dev

      - name: Build Linux
        run: flutter build linux --release

      - name: Build AppImage
        uses: AppImageCrafters/build-appimage-action@v1
        env:
          APP_VERSION: ${{ inputs.version }}
        with:
          recipe: AppImageBuilder.yml
          
      - name: Prepare artifacts
        run: |
          mkdir -p artifacts
          cp Beariscope-latest-x86_64.AppImage artifacts/beariscope-linux-${{ inputs.version }}.AppImage
          cp Beariscope-latest-x86_64.AppImage.zsync artifacts/beariscope-linux-${{ inputs.version }}.AppImage.zsync
          tar -czvf artifacts/beariscope-linux-${{ inputs.version }}.tar.gz -C build/linux/x64/release/bundle .
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: artifacts/
          retention-days: 7