name: Build Android

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Accept Android Licenses
        run: |
          yes | flutter doctor --android-licenses

      - name: Build Android APK
        run: flutter build apk --release

      - name: Rename APK
        run: |
          mkdir -p artifacts
          cp build/app/outputs/flutter-apk/app-release.apk \
             artifacts/beariscope-android-${{ inputs.version }}.apk

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-build
          path: artifacts/beariscope-android-${{ inputs.version }}.apk
          retention-days: 7